@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    background: #000;
}
.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}
.box:hover{
    width: 200px;
    background: #D13ABB;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #cf16b4;
}
.box:nth-child(2):hover{
    background: #1877F2;
    box-shadow: 0 0 50px #045aca;
}
.box:nth-child(3):hover{
    background: #4BC959;
    box-shadow: 0 0 50px #0bc020;
}
.box:nth-child(4):hover{
    background: #FF0000;
    box-shadow: 0 0 50px #ac1b1b;
}
.box:nth-child(5):hover{
    background: #161B22;
    box-shadow: 0 0 50px #161B22;
}
.box:nth-child(6):hover{
    background: #0961B8;
    box-shadow: 0 0 50px #005ab4;
}
.navbar p{
    transform: translate(60px);
}
.navbar p a{
    color: #fff;
    text-decoration: none;
}
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .5s ease;
}
.instagram{
    background-color: #D13ABB;
}
.facebook{
    background-color: #1877F2;
}
.whatsapp{
    background-color: #4BC959;
}
.youtube{
    background-color: #FF0000;
}
.github{
    background-color: #161B22;
}
.linkedin{
    background-color: #005ab4;
}
.box:hover .icon{
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
}